.taskCardContainer {
    display: flex;
    flex-direction: column;
    height: 480px;
    border-radius: .4rem;
    background-color: var(--app-task-card-one);
    color: var(--app-font-clr-one);
}

.box {
    margin: 1rem;
}

.taskCardHeader {
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
}